/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  display: grid;
  grid-template-columns: 0 1fr 0;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.87);
  background: rgba(0, 0, 0, 0.87); }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  background: #FFF;
  font-weight: 700;
  font-size: 1.5rem;
  box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.87); }
  .header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 40px; }
  .header__list-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #C4C4C48C;
    padding: 0 1rem;
    height: 20px; }

.categories-list {
  padding-top: 60px;
  grid-column: 2;
  display: flex;
  flex-direction: column; }
  .categories-list #documents .category__name {
    background: #FFCA28; }
  .categories-list #documents .category__name--selected,
  .categories-list #documents .category__triangle::after {
    background: #f4b800; }
  .categories-list #documents .category__add-item-form::before {
    background: #ffd75b; }
  .categories-list #documents .category__add-item-input {
    outline: none; }
    .categories-list #documents .category__add-item-input:focus {
      border: 3px solid #f4b800; }
  .categories-list #clothing .category__name {
    background: #8FE5F7; }
  .categories-list #clothing .category__name--selected,
  .categories-list #clothing .category__triangle::after {
    background: #5fdaf4; }
  .categories-list #clothing .category__add-item-form::before {
    background: #a7ebf9; }
  .categories-list #clothing .category__add-item-input {
    outline: none; }
    .categories-list #clothing .category__add-item-input:focus {
      border: 3px solid #5fdaf4; }
  .categories-list #toiletries .category__name {
    background: #8BC34A; }
  .categories-list #toiletries .category__name--selected,
  .categories-list #toiletries .category__triangle::after {
    background: #7eb73d; }
  .categories-list #toiletries .category__add-item-form::before {
    background: #c8e3aa; }
  .categories-list #toiletries .category__add-item-input {
    outline: none; }
    .categories-list #toiletries .category__add-item-input:focus {
      border: 3px solid #7eb73d; }
  .categories-list #electronics .category__name {
    background: #FFF9C5; }
  .categories-list #electronics .category__name--selected,
  .categories-list #electronics .category__triangle::after {
    background: #ffee5f; }
  .categories-list #electronics .category__add-item-form::before {
    background: #fff9c5; }
  .categories-list #electronics .category__add-item-input {
    outline: none; }
    .categories-list #electronics .category__add-item-input:focus {
      border: 3px solid #ffee5f; }
  .categories-list #misc .category__name {
    background: #FF825C; }
  .categories-list #misc .category__name--selected,
  .categories-list #misc .category__triangle::after {
    background: #ff6e43; }
  .categories-list #misc .category__add-item-form::before {
    background: #ffa98f; }
  .categories-list #misc .category__add-item-input {
    outline: none; }
    .categories-list #misc .category__add-item-input:focus {
      border: 3px solid #ff6e43; }

.category__name {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-size: 3rem;
  cursor: pointer;
  position: relative;
  z-index: 2; }

.category__icon {
  height: 100%; }

.category__name-wrapper {
  margin-left: 1rem; }

.category__toggle-form-btn {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 25px);
  width: 25px; }

.category__drawer {
  position: relative;
  max-height: 0;
  transition: 300ms all ease-in;
  background: #FFF;
  overflow: hidden; }

.category__triangle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: rotate(45deg) translate(-50%, -50%);
  width: 40px;
  height: 40px;
  z-index: 1;
  transition: 100ms all ease-in;
  transform-origin: left top; }

.category__list {
  overflow: auto;
  padding: 0 2rem;
  transition: 100ms 50ms filter ease-in; }

.category__add-item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 300ms all ease-in;
  transform: scale(1);
  opacity: 1; }
  .category__add-item-form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1; }

.category__add-item-input {
  margin: 0 auto 2rem;
  width: 70%;
  max-width: 400px;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 3px;
  border: 3px solid transparent; }

.category__add-item-btn {
  border: none;
  margin: 0 auto 5rem;
  padding: 1rem 2rem;
  width: 40%;
  font-size: 2rem;
  background: #8BC34A;
  color: #FFF;
  border-radius: 3px; }

.item {
  text-align: center;
  position: relative; }
  .item:first-child {
    margin-top: 4rem; }
  .item:last-child {
    margin-bottom: 4rem; }
  .item__name {
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 3px;
    word-break: break-all; }
  .item__checkbox {
    visibility: hidden;
    opacity: 0;
    left: -9999px;
    position: absolute; }
  .item__checkbox:checked ~ .item__name {
    background: #C4C4C48C;
    color: gray; }

.hide {
  display: none; }

.category__add-item-form--hidden {
  transform: scale(0);
  opacity: 0; }

.blur {
  filter: blur(2px); }

.no-scroll {
  overflow: hidden !important; }

.no-triangle::after {
  display: none; }

@media screen and (min-width: 480px) {
  body {
    grid-template-columns: 15% 1fr 15%; } }
