@mixin category($color, $percentage) {
  .category__name {
    background: $color;

    &--selected {
      background: darken($color, $percentage);
    }
  }

  .category__triangle::after {
    border-top-color: darken($color, $percentage);
  }

  .category__add-item-form::before {
    background: $color;
  }
}