$gold: #ffca28;
$cyan: #8fe5f7;
$green: #8bc34a;
$beige: #fff9c5;
$red: #ff825c;
$gray: #777;
$light-gray: #c4c4c48c;
$lighter-gray: #eee;
$white: #fff;
$black: rgba(0, 0, 0, 0.87);

$z-index: (
	header: 			 500,
	category: 		 400,
	triangle: 		 300,
	add-item-form: 300,
	positive:				 1,
	negative:				-1
);

$border-radius: 3px;
$progress-bar-height: 17px;
$header-container-height: 40px;
$header-list-name-height: 25px;
$header-height: $header-container-height + $header-list-name-height;
