@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 1fr 15%;
  background: white;
  font-family: 'Arvo', serif;
  font-size: 2rem;
}

.list {
  // something
}

.categories-list {
  grid-column: 2;
}

.category {
  border-bottom: 1px solid white;
}

.category-name {
  padding: 3rem;
  font-size: 3rem;
  background: salmon;
  border-bottom: 1px solid white;
}

.category-list {
  transition: 200ms all ease-out;
  max-height: 0;
  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: gold;
  border-bottom: 1px solid white;
}




// utility

.open {
  background: orange;
}

.hide {
  display: none;
}