@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
  font-size: 10px;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 15% 1fr 15%;
  background: white;
  font-family: 'Arvo', serif;
  font-size: 2rem;
}

.categories {
  grid-column: 2;
}

.category {
  border-bottom: 1px solid white;

  &__name {
    padding: 3rem;
    font-size: 3rem;
    background: salmon;
    border-bottom: 1px solid white;
    cursor: pointer;
  }

  &__list {
    transition: 200ms all ease-out;
    max-height: 0;
    overflow: hidden;
  }
}


.item {
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;

  &__name {
    display: block;
    padding: 2rem;
  }

  &__checkbox {
    visibility: hidden;
    opacity: 0;
    left: -9999px;
    position: absolute;
  }

  &__checkbox:checked ~ .item__name {
    background: lightgreen;
  }
}

.counter {
  grid-column: 2;
  background: gold;
  padding: 3rem;
}



// utility

.open {
  background: orange;
}

.hide {
  display: none;
}